/* CSS Document */
 
body, button, select, textarea, input, label, option, fieldset, legend{font-family: Helvetica Neue,Tahoma,Verdana;font-size: 11px;line-height: 18px;color: #666;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td{margin: 0;padding: 0;}
textarea{resize: none}
.clear{height:1px;overflow:hidden;clear:both;}
a,img{border:0;}
input{outline: none;}
button{overflow: visible; background-color: #e14958;border: 1px solid #e14958;color: #fff;display: inline-block;padding: 0; align-items: center;}
a{color: #666;text-decoration: none;font-weight: 300}
li{list-style-type:none;}
.bottomshadow{border-bottom: solid 1px #B3B3B3;-webkit-box-shadow: 0 1px 1px 0 #DFDFDF;box-shadow: 0 1px 1px 0 #DFDFDF;}