@charset "UTF-8";
/*ellipsis*/
/*clearfix*/
/*arrow*/
/*header*/
#top {
  width: 100%;
  background-color: #f2f2f2;
  border-bottom: 1px solid #dadada;
  margin-bottom: 32px; }
  #top:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden; }
  #top a:hover {
    text-decoration: underline;
    color: #e14958; }
  #top .top {
    width: 1200px;
    height: 30px;
    margin: 0 auto; }
    #top .top .top-left {
      line-height: 30px;
      float: left; }
    #top .top .top-right {
      position: absolute;
      right: 40px;
      line-height: 32px; }
      #top .top .top-right a {
        padding: 0 4px; }
    #top .top .tip {
      background: #6b4185;
      height: 30px;
      line-height: 30px;
      position: absolute;
      padding: 0 5px;
      top: 28px;
      border-radius: 3px;
      left: 40px;
      color: #fff;
      z-index: 2; }

.top-right .phone {
  width: 13px;
  height: 13px;
  background-position: -26px -151px;
  background-image: url(../img/ico.png);
  display: inline-block;
  margin-top: -4px; }

.top-right .tip .arrow {
  position: absolute;
  left: 12px;
  top: -5px;
  /* border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #614084; */
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 5px;
  cursor: pointer;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #614084 transparent;
  border-top: none; }

.top-right .tip .close {
  color: #fff; }
  .top-right .tip .close:hover {
    color: #ff3322;
    text-decoration: none !important; }

.top-right .da-code {
  position: absolute;
  border: 1px solid #ececec;
  background-color: #e5e5e5;
  padding: 15px;
  width: 91px;
  right: -30px;
  top: 40px;
  z-index: 2;
  display: none; }
  .top-right .da-code .code {
    width: 91px;
    height: 91px;
    background: url(../img/cod_da.png) no-repeat;
    display: inline-block; }
  .top-right .da-code .arrow {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 10px;
    cursor: pointer;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #e5e5e5 transparent;
    border-top: none;
    position: absolute;
    left: 48px;
    top: -10px; }

#search {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  #search a:hover {
    color: #e14958;
    text-decoration: underline; }
  #search:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden; }
  #search .logo {
    width: 280px;
    height: 60px;
    float: left;
    background: url(../img/logo.png) no-repeat; }
  #search .pro {
    width: 120px;
    height: 100px;
    float: left;
    background: url(../img/14767008883001.gif) no-repeat;
    margin-left: 20px;
    margin-top: -20px; }

.search {
  width: 394px;
  float: right;
  margin-right: 70px;
  position: relative; }
  .search .txt {
    width: 301px;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border: 1px solid #6b4185; }
  .search .ser {
    width: 81px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #6b4185;
    background-color: #6b4185;
    text-align: center;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer; }
  .search p {
    height: 18px;
    margin-bottom: 35px;
    margin-top: 8px; }
    .search p a {
      margin-right: 5px; }

.cart {
  width: 168px;
  height: 38px;
  border: 1px solid #dadada;
  border-radius: 2px;
  float: right;
  background: url(../img/da-header-cart-bg.jpg) no-repeat 15px 7px #f2f2f2; }
  .cart a {
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-indent: 60px;
    line-height: 38px;
    display: block;
    font-weight: 900;
    background: url(../img/da-header-cart-bg2.png) no-repeat 150px 13px;
    opacity: .8;
    filter: alpha(opacity=80); }
    .cart a:hover {
      text-decoration: none !important; }
  .cart span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    display: block;
    font-size: 12px;
    top: -5px;
    right: 21px;
    position: absolute;
    background: url(../img/da-header-cart-bg1.png) no-repeat; }

#nav {
  width: 100%;
  background: #333;
  height: 30px;
  line-height: 30px;
  position: relative; }
  #nav:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden; }
  #nav .nav {
    width: 1200px;
    margin: 0 auto; }

.nav .clasify {
  width: 220px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #6b4185;
  float: left;
  cursor: pointer; }
  .nav .clasify .title {
    position: relative;
    width: 220px;
    height: 30px; }
  .nav .clasify i {
    width: 11px;
    height: 7px;
    display: block;
    vertical-align: middle;
    position: absolute;
    left: 155px;
    top: 12px; }
  .nav .clasify .icon-down {
    display: none;
    background: url(../img/ico_arrow.png) no-repeat -5px -120px; }
  .nav .clasify .icon-up {
    display: inline-block;
    background: url(../img/ico_arrow.png) no-repeat -25px -120px; }

.nav .dd {
  display: none;
  background-color: #e8e3eb;
  width: 220px;
  position: absolute;
  color: #666;
  height: 479px;
  z-index: 100; }
  .nav .dd .dd-left {
    padding: 25px 20px 0;
    border: 1px solid #e8e3eb;
    height: 93px;
    position: relative; }
    .nav .dd .dd-left .block {
      display: none;
      width: 3px;
      height: 100%;
      background: #fff;
      position: absolute;
      right: -1px;
      top: 0;
      z-index: 10000; }
    .nav .dd .dd-left .dd-title {
      font-size: 14px;
      line-height: 16px;
      padding-bottom: 16px;
      text-align: left; }
      .nav .dd .dd-left .dd-title img {
        width: 18px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: -4px; }
    .nav .dd .dd-left .sort {
      line-height: 22px;
      height: 43px;
      position: relative;
      padding-right: 12px;
      padding-bottom: 14px;
      border-bottom: 1px dotted #d9d9d9;
      width: 168px;
      padding-left: 10px; }
      .nav .dd .dd-left .sort .arrow-clasify {
        border-width: 2px 4px;
        border-style: solid;
        border-color: transparent transparent transparent #9e9e9e;
        width: 0;
        height: 0;
        line-height: 0;
        display: block;
        position: absolute;
        right: 0;
        top: 22px; }
      .nav .dd .dd-left .sort .box-clasify {
        height: 44px;
        overflow: hidden;
        font-size: 12px;
        text-align: left; }
        .nav .dd .dd-left .sort .box-clasify a {
          margin-right: 6px;
          white-space: nowrap; }

.clasify .pop {
  display: none;
  width: 600px;
  height: 443px;
  overflow: hidden;
  position: absolute;
  left: 217px;
  top: 0px;
  background-color: #fff;
  padding: 20px 40px 15px;
  border: 1px solid #654579;
  text-align: left;
  z-index: 100; }
  .clasify .pop i
  .title {
    line-height: 40px;
    font-size: 14px;
    font-weight: 400; }
  .clasify .pop .pic {
    margin-left: -15px;
    padding-bottom: 40px; }
    .clasify .pop .pic img {
      margin-left: 10px;
      width: 140px;
      height: 70px; }
  .clasify .pop .bottom-pop:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden; }
  .clasify .pop .bottom-pop .left-info {
    float: left;
    width: 307px; }
  .clasify .pop .inner-dl {
    margin-bottom: 20px; }
    .clasify .pop .inner-dl:after {
      clear: both;
      content: '.';
      display: block;
      font-size: 0;
      height: 0;
      overflow: hidden; }
    .clasify .pop .inner-dl dt {
      float: left;
      width: 80px;
      height: 22px;
      line-height: 22px;
      font-weight: 900; }
    .clasify .pop .inner-dl dd {
      float: right;
      line-height: 22px;
      font-size: 12px;
      width: 208px; }
      .clasify .pop .inner-dl dd a {
        margin-right: 20px;
        line-height: 20px;
        white-space: nowrap; }

.navgation {
  float: left;
  padding-left: 30px;
  font-size: 16px; }
  .navgation li {
    float: left;
    padding: 0 10px;
    margin-right: 37px; }
    .navgation li a {
      color: #fff; }
      .navgation li a:hover {
        color: #c4c4c4; }

/*footer*/
.why {
  background: #fff;
  height: 79px;
  line-height: 79px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #d8d8d8;
  box-shadow: 0 4px 7px #e0e0e0; }
  .why ul {
    width: 960px;
    margin: 0 auto; }
    .why ul:after {
      clear: both;
      content: '.';
      display: block;
      font-size: 0;
      height: 0;
      overflow: hidden; }
    .why ul li:nth-of-type(1) {
      margin-left: 0; }
    .why ul li {
      float: left;
      font-size: 14px;
      margin-left: 130px; }
  .why .arrow {
    width: 22px;
    height: 41px;
    background: url(../img/ico_arrow.png) no-repeat -2px -135px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: middle; }
  .why .why1, .why .why2, .why .why3 {
    background: url(../img/ico-assure.png) no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    vertical-align: middle; }
  .why .why2 {
    background-position: -36px 0; }
  .why .why3 {
    background-position: -73px 0; }

.invester {
  width: 1110px;
  padding: 24px 0 40px 42px;
  margin: 0 auto;
  border-bottom: 1px solid #d8d8d8; }
  .invester:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden; }
  .invester dl:nth-of-type(1) {
    width: 660px; }
  .invester dl {
    float: left; }
    .invester dl dt {
      font-size: 18px;
      height: 40px; }
    .invester dl dd {
      text-indent: 1em;
      font-size: 14px;
      height: 20px; }

.copyright {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px; }
  .copyright .link {
    padding-top: 20px; }
    .copyright .link a {
      padding: 0 10px; }
      .copyright .link a:hover {
        text-decoration: underline; }
  .copyright .cooperation {
    width: 530px;
    height: 45px;
    margin: 0 auto;
    margin-top: 20px; }
    .copyright .cooperation img {
      width: 114px;
      height: 41px;
      display: inline-block;
      vertical-align: middle; }

/*sidebar*/
#sidebar {
  width: 40px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  z-index: 150;
  min-height: 480px; }

.sidebar-fix {
  float: left;
  position: relative;
  height: 100%;
  width: 40px; }
  .sidebar-fix .pop {
    width: 100px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 42px;
    text-align: center;
    background: #666;
    display: none; }
    .sidebar-fix .pop i {
      width: 0;
      height: 0;
      line-height: 0;
      font-size: 0;
      overflow: hidden;
      border-width: 5px;
      cursor: pointer;
      border-style: dashed dashed dashed solid;
      border-color: transparent transparent transparent #666;
      border-right: none;
      position: absolute;
      right: -5px;
      top: 16px; }
  .sidebar-fix .shopcar {
    position: relative;
    margin-top: 110px;
    margin-bottom: 22px;
    padding: 0 0 10px;
    font-weight: 400;
    cursor: pointer; }
    .sidebar-fix .shopcar .icon-cart {
      width: 33px;
      height: 26px;
      margin-bottom: 10px;
      display: block;
      background: url(../img/ico_sidebar.png) no-repeat -26px; }
    .sidebar-fix .shopcar .count {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #e34755;
      line-height: 20px;
      margin-top: 10px;
      display: inline-block; }
  .sidebar-fix .cut-line {
    width: 22px;
    height: 1px;
    background: #515151;
    margin: 0 0 14px 9px; }
  .sidebar-fix .discount {
    height: 37px;
    padding-top: 5px;
    cursor: pointer;
    position: relative; }
    .sidebar-fix .discount .money {
      width: 33px;
      height: 22px;
      display: block;
      background: url(../img/ico_sidebar.png) no-repeat 6px top; }
  .sidebar-fix .collect {
    height: 39px;
    padding-top: 7px;
    position: relative;
    cursor: pointer; }
    .sidebar-fix .collect .heart {
      background: url(../img/ico_sidebar.png) no-repeat -65px top;
      width: 32px;
      height: 25px;
      display: inline-block; }
    .sidebar-fix .collect .pop {
      height: 46px;
      line-height: 46px; }
  .sidebar-fix .verify {
    background: url(../img/ico-qrcode.png) no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 58px;
    left: 9px; }
    .sidebar-fix .verify .verify-pop {
      width: 91px;
      height: 118px;
      border: 1px solid #e5e5e5;
      position: absolute;
      left: -120px;
      bottom: -8px;
      background: #fff;
      color: #000;
      padding: 10px 9px; }
      .sidebar-fix .verify .verify-pop .arrow {
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
        border-width: 5px;
        cursor: pointer;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #fff;
        border-right: none;
        position: absolute;
        right: -5px;
        bottom: 13px; }
      .sidebar-fix .verify .verify-pop p {
        margin-top: 5px; }
  .sidebar-fix .backtop {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    display: block; }
    .sidebar-fix .backtop img {
      width: 50px;
      height: 50px;
      display: block;
      margin-left: -10px;
      margin-top: -10px; }

.sidebar-data {
  height: 100%;
  overflow: hidden; }
  .sidebar-data .close {
    background: url(../img/login-close.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    cursor: pointer; }
  .sidebar-data .cart-toggle {
    height: 100%;
    background: #f4f4f4;
    color: #666; }
    .sidebar-data .cart-toggle .head {
      text-align: center;
      text-indent: 20px;
      line-height: 50px; }
    .sidebar-data .cart-toggle .cart-mini {
      height: 460px;
      overflow-x: auto; }
  .sidebar-data .cart-table {
    background: url(../img/cart_mini_empty.png) no-repeat center 46px;
    height: 200px; }
  .sidebar-data .money-toggle {
    height: 100%;
    background: #474747;
    padding-left: 20px; }
    .sidebar-data .money-toggle .head {
      width: 280px;
      margin-left: -20px; }
    .sidebar-data .money-toggle .tip {
      line-height: 20px;
      padding-top: 200px;
      padding-bottom: 10px; }
    .sidebar-data .money-toggle button {
      width: 180px;
      height: 30px; }
  .sidebar-data .collect-toggle {
    background: #474747;
    height: 100%;
    text-align: left;
    padding-left: 20px; }
    .sidebar-data .collect-toggle .head {
      width: 280px;
      margin-left: -20px;
      text-align: center; }
    .sidebar-data .collect-toggle .money-login {
      background: #474747; }
      .sidebar-data .collect-toggle .money-login .onlogin {
        text-align: center; }
        .sidebar-data .collect-toggle .money-login .onlogin .tip {
          line-height: 20px;
          padding-top: 200px;
          padding-bottom: 10px; }
        .sidebar-data .collect-toggle .money-login .onlogin button {
          width: 180px;
          height: 30px; }

/* login */
#login-header {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0; }
  #login-header a {
    width: 280px;
    height: 60px;
    display: block; }

#login {
  width: 100%;
  background: #F9FBFD;
  border-top: 1px solid #d8d8d8; }
  #login .login {
    width: 1200px;
    margin: 0 auto;
    height: 660px;
    background: url(../img/login_bg.png) no-repeat 80px 40px; }
  #login .login-wrap {
    width: 390px;
    height: 446px;
    float: right;
    border: 1px solid #d8d8d8;
    padding: 20px 30px;
    margin: 45px 80px 0 0;
    background: #fff; }
  #login .login-panel h2 {
    line-height: 30px;
    border-left: 3px solid #7d589d;
    font-size: 16px;
    font-weight: 400;
    text-indent: 10px;
    margin-bottom: 24px; }
  #login .login-panel .tab {
    width: 282px;
    border-bottom: 1px solid #7d589d;
    padding: 0 36px;
    margin: 0 auto; }
    #login .login-panel .tab:after {
      clear: both;
      content: '.';
      display: block;
      font-size: 0;
      height: 0;
      overflow: hidden; }
    #login .login-panel .tab a {
      display: block;
      float: left;
      height: 28px;
      width: 70px;
      text-align: center;
      font-size: 16px;
      margin-right: 36px; }
    #login .login-panel .tab .active {
      background: url(../img/login_arr.png) no-repeat 0 18px; }

.form {
  margin: 40px 0 0 30px;
  width: 320px;
  font-size: 15px; }
  .form input {
    width: 265px;
    height: 36px;
    padding-left: 55px;
    line-height: 36px;
    border: 1px solid #ccc; }
  .form .user, .form .pass, .form .verify, .form .msg {
    margin-bottom: 20px;
    position: relative; }
  .form .verify input, .form .msg input {
    width: 145px;
    margin-right: 16px; }
  .form .icon {
    width: 40px;
    height: 38px;
    display: block;
    border-right: 1px solid #ccc;
    position: absolute;
    left: 0;
    right: 0; }
    .form .icon span {
      width: 20px;
      height: 19px;
      margin: 10px 0 0 10px;
      display: inline-block; }
  .form .icon-txt {
    background: url(../img/ico-login.png) no-repeat -29px 0; }
  .form .icon-pas {
    background: url(../img/ico-login.png) no-repeat -29px -27px; }
  .form .icon-msg {
    background: url(../img/ico-login.png) no-repeat -29px -56px;
    width: 20px !important;
    height: 23px !important;
    margin: 8px 0 0 10px !important;
    display: inline-block; }
  .form .submit {
    background: #e14958;
    width: 320px;
    height: 40px;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    outline: none; }
  .form .agreement {
    font-size: 12px;
    margin-top: -10px; }
    .form .agreement input {
      width: auto;
      height: auto;
      position: relative;
      top: 2px; }
    .form .agreement a {
      color: #0000ff; }
      .form .agreement a:hover {
        text-decoration: underline; }
  .form .get-msg {
    background: #94d469;
    width: 97px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer; }
  .form .code {
    float: right;
    width: 100px;
    height: 28px;
    margin-top: 7px; }

.login-form p {
  text-align: right;
  font-size: 12px; }
  .login-form p a:hover {
    text-decoration: underline; }

.form .tip {
  height: 30px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 44px;
  z-index: 100;
  padding: 0 10px;
  border-radius: 5px; }
  .form .tip i {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 5px;
    cursor: pointer;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #000 transparent;
    border-top: none;
    position: absolute;
    left: 26px;
    top: -5px;
    opacity: .5; }

.pass p {
  color: #a00;
  margin-top: 6px;
  display: none; }

.register-form .submit {
  background: #ccc;
  border: none; }

.err {
  display: none;
  text-align: left !important;
  color: #a00;
  font-size: 15px !important; }

#index {
  background-color: #f9f9f9;
  padding-bottom: 50px;
  min-width: 1200px; }
  #index .ad {
    height: 481px; }
    #index .ad .carousel {
      position: relative;
      z-index: 1; }
      #index .ad .carousel ul:after {
        clear: both;
        content: '.';
        display: block;
        font-size: 0;
        height: 0;
        overflow: hidden; }
      #index .ad .carousel ul li {
        width: 100%;
        float: left;
        margin-right: -100%;
        position: relative;
        opacity: 0;
        display: block;
        z-index: 1;
        background: #f5dfc9; }
        #index .ad .carousel ul li a {
          max-width: 1200px;
          overflow: hidden;
          margin: 0 auto; }
        #index .ad .carousel ul li img {
          width: auto;
          margin: 0 auto;
          display: block;
          height: 480px; }
      #index .ad .carousel .page {
        width: 100%;
        position: absolute;
        bottom: 40px;
        left: 632px;
        text-align: center;
        z-index: 3; }
        #index .ad .carousel .page li {
          margin: 0 6px;
          float: left;
          display: inline-block;
          width: 20px;
          height: 20px;
          line-height: 20px;
          background: rgba(0, 0, 0, 0.5);
          cursor: pointer;
          border-radius: 50%; }
        #index .ad .carousel .page .on {
          background: hotpink; }

.main {
  width: 1200px;
  margin: 0 auto;
  padding-top: 90px; }
  .main li {
    cursor: pointer; }
  .main .index-title {
    width: 430px;
    height: 1px;
    background-color: #676767;
    margin: 0 auto 16px;
    position: relative;
    font-size: 30px; }
    .main .index-title p {
      position: absolute;
      top: -12px;
      left: 130px;
      text-align: center;
      padding: 0 10px;
      background-color: #f9f9f9; }
  .main h2 {
    font-weight: 400;
    padding-bottom: 14px;
    position: relative;
    padding-top: 34px;
    font-size: 16px;
    margin-left: 11px; }
    .main h2 .change {
      position: absolute;
      right: 40px;
      font-size: 14px;
      background-color: #e14958;
      color: #fff;
      width: 90px;
      height: 29px;
      text-align: center;
      line-height: 29px; }
      .main h2 .change .icon-refresh {
        background-image: url(../img/ico.png) !important;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        background-position: 0 -136px;
        width: 23px;
        height: 18px;
        margin-left: 8px; }
  .main h3 {
    line-height: 36px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 36px; }
    .main h3 .icon-title {
      width: 11px;
      height: 11px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/ico-title-1.png) no-repeat;
      margin-right: 8px; }
  .main .must-box {
    margin-left: -16px;
    height: 294px;
    overflow: hidden; }
    .main .must-box li {
      margin-left: 16px;
      border: 1px solid transparent;
      float: left; }
  .main .f14 {
    font-size: 14px; }
  .main .p28 {
    padding-left: 28px; }
  .main .icon {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 38px;
    line-height: 32px;
    margin-right: 10px; }
  .main .must-icon {
    background: url(../img/ico-title.png) no-repeat; }

.new-box {
  height: 660px;
  overflow: hidden; }
  .new-box li:hover {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 10px #d5d2d2; }
  .new-box ul {
    margin-left: -20px;
    margin-bottom: 20px; }
    .new-box ul:after {
      clear: both;
      content: '.';
      display: block;
      font-size: 0;
      height: 0;
      overflow: hidden; }
    .new-box ul .bot {
      width: 587px;
      height: 238px;
      position: relative; }
      .new-box ul .bot .new-img {
        height: 238px;
        float: left; }
      .new-box ul .bot .data {
        width: 230px;
        float: right;
        padding: 80px 24px 0 50px; }
    .new-box ul li {
      background-color: #fff;
      width: 283px;
      height: 378px;
      border: 1px solid #e5e5e5;
      margin-left: 20px;
      float: left; }
      .new-box ul li > a {
        width: 283px;
        height: 268px;
        display: block;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
        .new-box ul li > a .add {
          width: 283px;
          height: 30px;
          font-size: 14px;
          line-height: 30px;
          color: #fff;
          text-align: center;
          position: absolute;
          z-index: 3;
          bottom: 0;
          display: none;
          background: rgba(30, 30, 200, 0.6); }
          .new-box ul li > a .add .icon-cart {
            background-image: url(../img/ico.png) !important;
            vertical-align: middle;
            display: inline-block;
            height: 16px;
            margin-top: -5px;
            background-position: left -88px;
            width: 18px; }
      .new-box ul li .data {
        padding: 8px 26px 0; }
        .new-box ul li .data .price {
          padding-bottom: 8px; }
          .new-box ul li .data .price .collect {
            line-height: 30px;
            float: right;
            background: none; }
          .new-box ul li .data .price .redal {
            color: #e14958; }
        .new-box ul li .data .title {
          line-height: 18px;
          height: 36px;
          overflow: hidden;
          color: #666; }
          .new-box ul li .data .title .discount {
            color: #e34755; }
        .new-box ul li .data .now-price {
          color: #e14958;
          font-size: 20;
          padding-right: 4px; }
        .new-box ul li .data .old-price {
          text-decoration: line-through; }

.deserve-icon {
  background: url(../img/ico-title.png) no-repeat 0 -78px; }

.redal {
  color: #e14958; }

.now-price {
  color: #e14958;
  font-size: 20px;
  padding-right: 4px; }

.old-price {
  text-decoration: line-through; }

.deserve-box {
  background-color: #fff;
  padding-bottom: 52px;
  margin-bottom: 42px;
  padding-top: 42px; }
  .deserve-box ul {
    position: relative;
    height: 140px;
    overflow: hidden;
    margin-left: 30px; }
    .deserve-box ul li {
      width: 208px;
      margin: 0 10px;
      float: left; }
      .deserve-box ul li a {
        display: block;
        width: 208px;
        height: 140px;
        background-size: cover;
        background-repeat: no-repeat; }

.index-good {
  background-color: #fff;
  margin-bottom: 40px; }
  .index-good li:hover {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 10px #d5d2d2; }
  .index-good .good-tab {
    padding-top: 42px;
    border-bottom: solid 1px #e5e5e5;
    height: 30px;
    line-height: 30px;
    padding-left: 36px;
    margin-bottom: 40px; }
    .index-good .good-tab li {
      float: left;
      margin-right: 10px;
      padding: 0 12px;
      font-size: 16px;
      border: 1px solid #e5e5e5;
      border-bottom: none 0;
      height: 29px;
      line-height: 29px;
      cursor: pointer; }
    .index-good .good-tab .current {
      border: 1px solid #e14958;
      border-bottom: none 0;
      background-color: #e14958;
      color: #fff; }

.good-list {
  margin-left: -33px; }
  .good-list ul:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden; }
  .good-list li {
    float: left;
    width: 280px;
    margin-left: 100px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff; }
    .good-list li a {
      width: 280px;
      height: 280px;
      display: block;
      background-position: center center;
      background-size: cover; }
  .good-list .data {
    padding-left: 12px; }
    .good-list .data .price {
      padding-top: 10px;
      padding-bottom: 8px; }
      .good-list .data .price .redal {
        color: #e14958; }
      .good-list .data .price .now-price {
        font-size: 20px;
        color: #e14958; }
      .good-list .data .price .old-price {
        text-decoration: line-through; }
    .good-list .data .title {
      margin-bottom: 10px;
      height: 38px;
      overflow: hidden;
      line-height: 18px; }
    .good-list .data .comment {
      position: relative; }
      .good-list .data .comment a {
        width: 35px;
        height: 35px;
        float: left;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        left: 10px;
        top: 7px;
        display: block; }
      .good-list .data .comment .comment-text {
        position: absolute;
        z-index: 2;
        left: 56px;
        top: 6px;
        width: 180px;
        line-height: 20px; }

.index-buy-again {
  background-color: #fff;
  margin-bottom: 42px; }
  .index-buy-again li:hover {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 10px #d5d2d2; }
  .index-buy-again .buy-list {
    margin-left: 10px; }
    .index-buy-again .buy-list:after {
      clear: both;
      content: '.';
      display: block;
      font-size: 0;
      height: 0;
      overflow: hidden; }
    .index-buy-again .buy-list dl {
      width: 394px;
      float: left; }
      .index-buy-again .buy-list dl dt {
        line-height: 46px;
        text-align: center;
        border-bottom: solid 1px #eee;
        font-size: 16px;
        color: #e14958; }
      .index-buy-again .buy-list dl dd.first {
        padding: 38px 20px 10px;
        position: relative;
        border-bottom: solid 1px #eee; }
        .index-buy-again .buy-list dl dd.first:after {
          clear: both;
          content: '.';
          display: block;
          font-size: 0;
          height: 0;
          overflow: hidden; }
        .index-buy-again .buy-list dl dd.first .cover-img {
          width: 166px;
          height: 166px;
          float: left; }
        .index-buy-again .buy-list dl dd.first .price {
          padding: 6px 0 10px; }
        .index-buy-again .buy-list dl dd.first .state {
          color: #999; }
          .index-buy-again .buy-list dl dd.first .state a {
            line-height: 20px;
            color: #999; }
        .index-buy-again .buy-list dl dd.first .title {
          line-height: 18px;
          height: 56px;
          overflow: hidden; }
      .index-buy-again .buy-list dl dd.ex-first {
        position: relative;
        border-bottom: solid 1px #eee; }
        .index-buy-again .buy-list dl dd.ex-first:after {
          clear: both;
          content: '.';
          display: block;
          font-size: 0;
          height: 0;
          overflow: hidden; }
        .index-buy-again .buy-list dl dd.ex-first .cover-img {
          width: 45px;
          height: 45px;
          float: left;
          display: block;
          margin: 3px 20px 3px 92px; }
        .index-buy-again .buy-list dl dd.ex-first .title {
          overflow: hidden;
          width: 224px;
          text-overflow: ellipsis; }
        .index-buy-again .buy-list dl dd.ex-first .data {
          line-height: 45px;
          height: 45px;
          white-space: nowrap; }
      .index-buy-again .buy-list dl .tag {
        position: absolute;
        width: 54px;
        height: 20px;
        line-height: 20px;
        color: #fff;
        padding-left: 16px;
        display: block;
        left: 0;
        top: 0;
        background-color: #e14958;
        font-size: 14px; }
    .index-buy-again .buy-list .data {
      overflow: hidden;
      padding-left: 10px; }

.cover-img {
  background-size: cover;
  background-position: center center; }

.index-newgood {
  background-color: #fff;
  margin-bottom: 55px;
  padding-top: 42px; }
  .index-newgood li:hover {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 10px #d5d2d2; }
  .index-newgood .bg {
    margin-left: 12px; }

.good-list {
  margin-left: -33px; }
  .good-list .bg {
    width: 256px;
    height: 50px;
    background-color: #fffcdb;
    opacity: .7;
    filter: alpha(opacity=70);
    border-radius: 25px; }
  .good-list .comment {
    position: relative; }
  .good-list .comment-text {
    position: absolute;
    z-index: 2;
    left: 56px;
    top: 6px;
    width: 180px;
    line-height: 20px; }
    .good-list .comment-text p {
      width: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.index-sale li:hover {
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 10px #d5d2d2; }
.index-sale:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden; }
.index-sale .index-sale-list {
  width: 786px;
  float: left; }
.index-sale .index-tomorrow {
  width: 386px;
  float: right; }
  .index-sale .index-tomorrow .tomorrow-title {
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px; }
  .index-sale .index-tomorrow .cover-img {
    float: left;
    width: 236px;
    height: 193px;
    margin: 0; }
  .index-sale .index-tomorrow .data {
    padding: 18px 13px 0; }
    .index-sale .index-tomorrow .data .title {
      height: 50px;
      margin-bottom: 10px;
      overflow: hidden;
      line-height: 16px; }
  .index-sale .index-tomorrow .icon-collect {
    background: url(../img/ico.png) no-repeat -23px -2px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 18px;
    height: 15px; }
  .index-sale .index-tomorrow .btn-cart {
    width: 75px;
    height: 20px;
    line-height: 18px; }
.index-sale .time-icon {
  background: url(../img/ico-title.png) no-repeat 0 -117px; }
.index-sale li {
  background-color: #fff;
  margin-bottom: 19px;
  border: 1px solid transparent; }
  .index-sale li:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden; }
  .index-sale li .cover-img {
    width: 280px;
    height: 280px;
    float: left;
    margin: 0 106px; }
.index-sale .data {
  padding-left: 26px;
  padding-right: 26px;
  overflow: hidden; }
.index-sale .timeout {
  width: 194px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #333;
  text-align: center;
  margin: 0 auto 20px; }
.index-sale .title {
  height: 34px;
  line-height: 16px;
  overflow: hidden;
  margin-bottom: 10px; }
  .index-sale .title .discount {
    color: #e14958; }
.index-sale .intro {
  color: #888;
  margin: 4px 0 20px;
  height: 70px;
  line-height: 18px;
  overflow: hidden; }
.index-sale .btn-buy {
  text-align: center;
  display: inline-block;
  width: 140px;
  height: 38px;
  color: #fff !important;
  line-height: 38px;
  font-size: 16px;
  margin-top: 24px;
  color: #e14958;
  background-color: #e14958; }
.index-sale .info {
  padding-left: 16px;
  padding-top: 40px; }

.colon {
  padding: 0 2px;
  display: inline-block; }

.flash-scroll {
  margin: 0 auto;
  text-align: center;
  width: 140px; }
  .flash-scroll .scroll {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 16px; }
  .flash-scroll .up {
    background: url(../img/ico_arrow.png) -29px -2px no-repeat; }
  .flash-scroll .down {
    background: url(../img/ico_arrow.png) 0 -2px no-repeat;
    margin-left: 16px; }

/*鍟嗗搧璇︽儏*/
.detail {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 1200px; }
  .detail:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden; }

.detail-link {
  height: 40px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  line-height: 40px;
  margin: 10px 0; }
  .detail-link li {
    float: left;
    padding-right: 14px; }
    .detail-link li a {
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px; }
    .detail-link li .icon-to {
      vertical-align: middle;
      display: inline-block;
      width: 7px;
      height: 21px;
      background: url(../img/ico_arrow.png) -64px -85px; }
    .detail-link li .icon-home {
      width: 20px;
      height: 14px;
      background-position: 0 -45px;
      background-image: url(../img/ico.png);
      display: inline-block; }

.detail-left {
  width: 1020px;
  float: left; }
  .detail-left:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden; }
  .detail-left .goods-show {
    width: 378px;
    float: left;
    padding-top: 10px;
    position: relative; }
    .detail-left .goods-show .good-img {
      width: 379px;
      height: 379px;
      border: 1px solid #e5e5e5;
      position: relative; }
      .detail-left .goods-show .good-img img {
        width: 379px;
        height: 379px; }
      .detail-left .goods-show .good-img .move {
        width: 179px;
        height: 179px;
        cursor: move;
        background: rgba(100, 200, 100, 0.3);
        position: absolute;
        display: none; }
    .detail-left .goods-show .img-box {
      width: 400px;
      height: 400px;
      position: absolute;
      left: 380px;
      top: 10px;
      background: red;
      z-index: 100;
      overflow: hidden;
      border: 1px solid #f5f5f5;
      display: none; }
  .detail-left .share {
    padding-top: 30px;
    position: relative;
    z-index: 3; }
    .detail-left .share a {
      float: left; }
    .detail-left .share .icon-share {
      display: inline-block;
      margin-right: 4px;
      width: 16px;
      height: 16px;
      background-position: -25px -23px;
      background-image: url(../img/ico.png);
      vertical-align: middle; }
    .detail-left .share .share-box {
      margin-right: 55px; }
    .detail-left .share .icon-collect {
      width: 18px;
      height: 15px;
      background-image: url(../img/ico.png);
      background-position: -23px -2px;
      margin-top: -2px;
      display: inline-block;
      vertical-align: middle; }
    .detail-left .share .note-box {
      position: absolute;
      width: 205px;
      line-height: 18px;
      left: 200px;
      margin-top: -18px;
      z-index: 2;
      padding: 16px 15px 18px 18px;
      border: 1px solid transparent; }
      .detail-left .share .note-box .note-title {
        position: absolute;
        z-index: 3;
        text-align: center;
        left: 70px;
        cursor: default; }
        .detail-left .share .note-box .note-title .icon-text {
          margin-right: 4px;
          vertical-align: middle;
          margin-top: -2px;
          height: 15px;
          display: inline-block;
          background-image: url(../img/ico.png);
          width: 12px;
          background-position: 0 -23px; }
        .detail-left .share .note-box .note-title .arrow {
          margin-left: 10px;
          vertical-align: top;
          margin-top: 6px;
          display: inline-block;
          border-style: solid;
          height: 0;
          line-height: 0;
          width: 0;
          border-width: 5px 4px;
          border-color: #666 transparent transparent; }
      .detail-left .share .note-box .note {
        display: none; }

.goods-data {
  padding-left: 40px;
  overflow: hidden; }
  .goods-data h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 25px; }
  .goods-data .goods-price {
    zoom: 1; }
    .goods-data .goods-price:after {
      clear: both;
      content: '.';
      display: block;
      font-size: 0;
      height: 0;
      overflow: hidden; }
    .goods-data .goods-price dt {
      float: left;
      width: 80px;
      line-height: 40px; }
    .goods-data .goods-price dd {
      float: left;
      z-index: 2;
      max-width: 510px;
      margin-top: 10px; }
      .goods-data .goods-price dd:after {
        clear: both;
        content: '.';
        display: block;
        font-size: 0;
        height: 0;
        overflow: hidden; }
      .goods-data .goods-price dd .bo {
        font-weight: 700;
        font-size: 30px; }
    .goods-data .goods-price .discount {
      background-color: #f25e5a;
      color: #fff;
      padding: 0 2px;
      line-height: 15px;
      display: inline-block; }
  .goods-data .goods-function {
    height: 20px;
    margin-top: 24px;
    padding: 10px 0;
    border-top: dotted 1px #e5e5e5;
    border-bottom: dotted 1px #e5e5e5; }
    .goods-data .goods-function li {
      float: left;
      width: 198px;
      text-align: center;
      height: 20px;
      line-height: 20px;
      border-left: solid 1px #e5e5e5; }
    .goods-data .goods-function .icon-star, .goods-data .goods-function .icon-half-star {
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      width: 11px;
      height: 12px;
      background-image: url(../img/ico.png); }
    .goods-data .goods-function .icon-star {
      background-position: -19px -67px; }
    .goods-data .goods-function .icon-half-star {
      background-position: 0 -67px; }
  .goods-data .goods-number {
    padding-top: 20px; }
    .goods-data .goods-number:after {
      clear: both;
      content: '.';
      display: block;
      font-size: 0;
      height: 0;
      overflow: hidden; }
    .goods-data .goods-number dt {
      float: left;
      width: 80px;
      line-height: 40px; }
    .goods-data .goods-number .number {
      margin-right: 10px;
      position: relative;
      float: left;
      width: 60px;
      height: 36px;
      padding-top: 4px; }
      .goods-data .goods-number .number .btn-reduce, .goods-data .goods-number .number .btn-add {
        width: 14px;
        height: 12px;
        border: 1px solid #e5e5e5;
        position: absolute;
        right: 0;
        text-align: center; }
      .goods-data .goods-number .number .btn-reduce {
        top: 22px; }
        .goods-data .goods-number .number .btn-reduce .ico-down {
          vertical-align: top;
          margin-top: 4px;
          border-color: #666 transparent transparent; }
      .goods-data .goods-number .number .btn-add {
        top: 4px; }
        .goods-data .goods-number .number .btn-add .ico-up {
          border-color: transparent transparent #666;
          margin-bottom: 4px; }
      .goods-data .goods-number .number .ico-down, .goods-data .goods-number .number .ico-up {
        border-width: 5px;
        border-style: solid;
        display: inline-block;
        height: 0;
        line-height: 0;
        width: 0; }
      .goods-data .goods-number .number .num {
        width: 38px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        border: 1px solid #e5e5e5; }
  .goods-data .goods-btn {
    padding-left: 80px;
    padding-top: 30px; }
    .goods-data .goods-btn:after {
      clear: both;
      content: '.';
      display: block;
      font-size: 0;
      height: 0;
      overflow: hidden; }
    .goods-data .goods-btn .imme, .goods-data .goods-btn .add {
      text-align: center;
      float: left;
      width: 136px;
      font-size: 16px; }
    .goods-data .goods-btn .imme {
      border: 2px solid #e14958;
      color: #e14958;
      margin-right: 20px;
      background-color: #fff;
      line-height: 34px;
      height: 34px; }
    .goods-data .goods-btn .add {
      background-color: #e14958;
      border: 1px solid #e14958;
      color: #fff;
      line-height: 32px;
      height: 38px; }
  .goods-data .goods-tip {
    padding-left: 80px;
    padding-top: 30px; }
    .goods-data .goods-tip .mr20 {
      margin-right: 20px; }
    .goods-data .goods-tip > span {
      padding-right: 10px; }
    .goods-data .goods-tip .icon-1, .goods-data .goods-tip .icon-2, .goods-data .goods-tip .icon-3 {
      vertical-align: middle;
      width: 20px;
      height: 22px;
      margin-right: 10px; }
    .goods-data .goods-tip .icon-1 {
      background: url(../img/ico_mark.png) 0 -36px;
      display: inline-block; }
    .goods-data .goods-tip .icon-2 {
      background: url(../img/ico_mark.png) -67px -36px;
      display: inline-block; }
    .goods-data .goods-tip .icon-3 {
      background: url(../img/ico_mark.png) 0 -8px;
      display: inline-block; }

.detail-sidebar {
  width: 146px;
  float: right;
  margin-right: 15px; }
  .detail-sidebar .sidebuy {
    padding-top: 30px;
    line-height: 20px; }
  .detail-sidebar .title {
    border-top: 1px dotted #e5e5e5;
    padding-bottom: 20px; }
    .detail-sidebar .title p {
      width: 82px;
      margin-top: -10px;
      margin-left: 30px;
      background-color: #fff;
      text-align: center;
      font-size: 14px; }
  .detail-sidebar li {
    padding-bottom: 16px;
    display: none; }
    .detail-sidebar li a {
      width: 140px;
      height: 140px;
      display: block;
      margin-bottom: 4px; }
    .detail-sidebar li .old-price {
      text-decoration: line-through;
      padding-left: 10px; }
    .detail-sidebar li .goods-title {
      width: 146px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
  .detail-sidebar li.active {
    display: block; }
  .detail-sidebar .scroll {
    text-align: center;
    width: 140px; }
    .detail-sidebar .scroll .scroll-up {
      background: url(../img/ico_arrow.png) -29px -2px no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 16px;
      cursor: pointer; }
    .detail-sidebar .scroll .scroll-down {
      background: url(../img/ico_arrow.png) 0 -2px no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 16px;
      margin-left: 16px;
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */
